---
import About from "../components/About.astro";
import Benefits from "../components/Benefits.astro";
import Contact from "../components/Contact.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Products from "../components/Products.astro";
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Zafiro: Pureza que refresca tu vida"
  description="Zafiro ofrece agua mineral de alta calidad en bidones retornables de 10L y 20L. Haz tu pedido por WhatsApp y disfruta de la frescura en tu hogar o negocio."
>
  <Header />
  <main>
    <Hero />
    <About />
    <Products />
    <Benefits />
    <Contact />
  </main>
</Layout>

<style>
  main {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }
</style>
