---
// src/components/About.astro
---

<section id="about" class="py-16 bg-gray-50 overflow-hidden">
  <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
    <div class="relative">
      <h2
        class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
      >
        Quiénes Somos
      </h2>
      <p class="mt-4 max-w-3xl mx-auto text-center text-xl text-gray-500">
        En Zafiro, nos dedicamos a proporcionar agua mineral de la más alta
        calidad. Nuestro compromiso con la pureza y la excelencia se refleja en
        cada gota que entregamos a tu hogar.
      </p>
    </div>

    <div
      class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center"
    >
      <div class="relative">
        <h3
          class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl"
        >
          Agua pura, directamente de la fuente
        </h3>
        <p class="mt-3 text-lg text-gray-500">
          Nuestro agua proviene de manantiales naturales cuidadosamente
          seleccionados, garantizando una pureza incomparable y un sabor
          refrescante en cada sorbo.
        </p>
      </div>

      <div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
        <img
          class="relative mx-auto rounded-lg shadow-lg aspect-auto"
          width="490"
          src="/bidones.webp"
          alt="Fuente de agua Zafiro"
        />
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.05' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  }
</style>
