---
import { Image } from "astro:assets";
// src/components/Header.astro
import { Button } from "@/components/ui/button";
import IconWhatsApp from "@/icons/IconWhatsApp.astro";
---

<header class="fixed w-full bg-white bg-opacity-90 shadow-sm z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div
      class="flex justify-between items-center py-4 md:justify-start md:space-x-10"
    >
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="/">
          <span class="sr-only">Zafiro</span>
          <Image
            loading="eager"
            width={1920}
            height={1080}
            class="h-8 w-auto sm:h-10"
            src="/logo.webp"
            alt="Zafiro Logo"
          />
        </a>
      </div>
      <nav class="hidden md:flex space-x-10">
        <a
          href="#about"
          class="text-base font-medium text-gray-500 hover:text-gray-900"
        >
          Quiénes Somos
        </a>
        <a
          href="#products"
          class="text-base font-medium text-gray-500 hover:text-gray-900"
        >
          Productos
        </a>
        <a
          href="#benefits"
          class="text-base font-medium text-gray-500 hover:text-gray-900"
        >
          Beneficios
        </a>
        <a
          href="#contact"
          class="text-base font-medium text-gray-500 hover:text-gray-900"
        >
          Contacto
        </a>
      </nav>
      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
        <a
          href="https://wa.me/3816219419?text=Hola,%20quiero%20más%20información%20sobre%20sus%20bidones%20de%20agua"
          target="_blank"
          rel="noopener noreferrer"
          class="ml-8 inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-green-600 hover:bg-green-700"
        >
          <IconWhatsApp className="w-5 h-5 mr-2" />
          Consultar por WhatsApp
        </a>
      </div>
    </div>
  </div>
</header>
