---
import "@/styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Zafiro ofrece agua mineral de alta calidad en bidones retornables de 10L y 20L. Haz tu pedido por WhatsApp y disfruta de la frescura en tu hogar o negocio."
    />
    <meta
      name="keywords"
      content="agua mineral, bidones de agua mineral, bidones de 10 litros, bidones de 20 litros, agua pura, agua mineral a domicilio, Zafiro agua mineral, entrega de agua por WhatsApp, agua retornable, agua fresca y pura"
    />
    <meta name="author" content="Ivan Bongiovanni" />
    <title>{title}</title>
  </head>
  <body class="bg-white text-gray-900">
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen flex flex-col;
  }
</style>
