---
import Analytics from "@vercel/analytics/astro";
import HeadSeo from "@/components/HeadSeo.astro";
import "@/styles/globals.css";

interface Props {
  title?: string;
  description?: string;
  ogImage?: URL;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <HeadSeo title={title} description={description} ogImage={ogImage} />
    <Analytics />
  </head>
  <body class="bg-white text-gray-900">
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen flex flex-col;
  }
</style>
